.screen-header{
    display:flex;
    justify-content:space-between;
    padding: 40px 20px 10px 25px;
    align-items: center;
margin-bottom: 15px;



}

.screen-header__title{
    font-size:28px;
    font-weight: 600;
}

.screen-header__icons span{
    margin-left:25px;
}

@keyframes rotatecog{
from {
transform: none;
}

to{
    transform: rotateZ(360deg);

}

}

.screen-header__icons .fa-cog:hover {
animation: rotatecog 5s linear infinite;

}